.SearchBar {
    background-color: #84A98C;  
    position: fixed;
    overflow: auto;
}

.row {
  width: 80%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width: 14%;
    background-color: #52796F ;
    border: 1px solid #52796f;
    position: fixed;
    height: 96%;
    overflow: auto;
  }

  li a {
    display:block;
    color: #000;
    padding: 86px 0px;
    text-decoration: none;
    text-align: center;
}

li a.active {
        background-color: #2f3e46;
        color: white;
        }

li a:hover:not(.active) {
background-color: #354F52;
color: white;
}

body {
    background-color: #CAD2C5;
}

.EmployersContainer { 
    display: flex; 
    flex-direction: column;
    align-items: center; 
  } 

  .EmployersContainer > div {
    background-color: #84A98C;
    margin: 10px;
    font-size: 30px;
    margin-left:32%; 
    padding:1px 16px; 
    height:200px; 
    width:60%;
  }
  