h1{
    color:black;
    padding-top: 100px;
    
}

body{
    background-color: #84A98C;
}

.forgot_password{
    text-align: center;
}

.Account_issues{
    text-align: center;
}

.login_button{
    text-align: center;
}

.login_box{
    text-align: center;
    padding-bottom: 20px;
}